<ol class="breadcrumb mb0">
  <!-- folder icon and path -->
    <li>
        <a href="" ng-click="fileNavigator.goTo(-1)">
            <!--<i class="fa fa-folder-open mr2"></i>-->
            <i class="icon-folder_open"></i>
        </a>
    </li>
    <li ng-repeat="(key, dir) in fileNavigator.currentPath track by key" ng-class="{'active':$last}" class="animated fast fadeIn">
        <a href="" ng-show="!$last" ng-click="fileNavigator.goTo(key)">
            {{dir}}
        </a>
        <span ng-show="$last">{{dir}}</span>
    </li>
    <li><i class="" ng-click="fileNavigator.upDir()">&crarr;</i></li>

	<span class="pull-right">

		<button class="btn btn-primary btn-sm bgm-red" data-toggle="modal" data-target="#uploadfile" ng-click="touch()">
			<!--<i class="fa fa-cloud-upload"></i>--> Upload de Arquivo
		</button>

		<button class="btn btn-primary btn-sm bgm-red" data-toggle="modal" data-target="#newfolder" ng-click="touch()">
			<!--<i class="fa fa-folder-o"></i>--> Nova pasta
		</button>
    <!-- visão de arquivos, em vez de lista -->
		<button class="btn btn-default btn-sm" ng-click="$parent.setTemplate('main-icons.html')" ng-show="$parent.viewTemplate !== 'main-icons.html'" title="Ícones">
			<i class="glyphicon glyphicon-th-large"></i>
		</button>

		<button class="btn btn-default btn-sm" ng-click="$parent.setTemplate('main-table.html')" ng-show="$parent.viewTemplate !== 'main-table.html'" title="Lista">
			<i class="glyphicon glyphicon-th-list"></i>
		</button>
	</span>
</ol>