<div ng-show="!item.inprocess">
	<button class="btn btn-sm btn-default" ng-show="item.model.type != 'dir'" ng-click="item.download()" title="{{'download' | translate}}">
		<i class="icon-file_download"></i>
	</button>
	<!--<button class="btn btn-sm btn-default" ng-show="item.isViewable()" ng-click="item.preview()" title="Visualizar">
		<i class="icon-image"></i>
	</button>-->
	<button class="btn btn-sm btn-default" data-toggle="modal" data-target="#edit" ng-show="item.model.perms == 'A' && item.model.type != 'dir'" ng-click="touch(item)" title="{{'edit' | translate}}">
        <i class="icon-edit"></i>
    </button>
    <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#move" ng-show="item.model.perms == 'A' && item.model.type != 'dir'" ng-click="touch(item)" title="Mover">
        <i class="glyphicon glyphicon-log-out"></i>
    </button>
    <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#delete"  ng-click="touch(item)" title="{{'remove' | translate}}">
        <i class="icon-delete"></i>
    </button>
</div>
<div ng-show="item.inprocess">
    <button class="btn btn-sm" style="visibility: hidden">&nbsp;</button><span class="label label-warning">{{"wait" | translate}} ...</span>
</div>
