<link href="bower_components/angular-filemanager/dist/custom.css" rel="stylesheet" />

<div ng-controller="FileManagerCtrl">
	<div class="card">
		<div class="card-body card-padding">
			<div class="row">
					<div class="col-xs-12">
						<div class="form-group fg-float m-b-20">
							<div class="fg-line">
								<input class="form-control" type="text" ng-model="searchQuery"/>
								<label class="fg-label">Buscar por nome</label>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

	<div class="box">
        <div class="row">
            <div class="main" ng-class="config.sidebar && fileNavigator.history[0] && 'col-sm-12 col-md-12'">
                <div ng-include="config.tplPath + '/current-folder-breadcrumb.html'" ng-show="config.breadcrumb"></div>
                <div ng-include="config.tplPath + '/' + viewTemplate" class="main-navigation clearfix"></div>
            </div>
        </div>
    </div>

    <div ng-include="config.tplPath + '/modals.html'"></div>
    <div ng-include="config.tplPath + '/item-context-menu.html'"></div>
</div>
