<div class="iconset clearfix">
    <div class="col-sm-1" ng-repeat="item in fileNavigator.fileList | filter: query | orderBy: orderProp" ng-show="!fileNavigator.requesting && !fileNavigator.error">
        <a href="" class="text-left" ng-click="smartClick(item)" ng-right-click="touch(item)" title="{{item.model.name}} ({{item.model.sizeKb()}})">
            <div class="item-icon">
				<i class="fa fa-fw fa-folder" ng-show="item.model.type === 'dir'"></i>
				<i class="fa fa-file-picture-o" ng-show="item.model.type == 'jpg' || item.model.type == 'png'"></i>
				<i class="fa fa-file-pdf-o" ng-show="item.model.type == 'pdf'"></i>
				<i class="fa fa-file-word-o" ng-show="item.model.type == 'doc' || item.model.type == 'docx'"></i>
				<i class="fa fa-file-text-o" ng-show="item.model.type == 'txt'"></i>
				<i class="fa fa-file-excel-o" ng-show="item.model.type == 'xls'"></i>
				<i class="fa fa-file-o" ng-show="item.model.type != 'dir' &&
																				item.model.type != 'jpg' &&
																				item.model.type != 'png' &&
																				item.model.type != 'gif' &&
																				item.model.type != 'pdf' &&
																				item.model.type != 'doc' &&
																				item.model.type != 'docx' &&
																				item.model.type != 'txt' &&
																				item.model.type != 'xls'"></i>
            </div>
			<span class="title-black"> {{item.model.name | strLimit : 11}}</span>
        </a>
    </div>

    <div ng-show="fileNavigator.requesting">
        <div ng-include="config.tplPath + '/spinner.html'"></div>
    </div>

    <div class="well" ng-show="!fileNavigator.requesting && fileNavigator.fileList.length < 1 && !fileNavigator.error">
		{{"no_files_in_folder" | translate}}
    </div>

    <div class="alert alert-danger" ng-show="!fileNavigator.requesting && fileNavigator.error">
        {{ fileNavigator.error }}
    </div>
</div>
