.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0
}
.dropdown-file {
	position: relative;
	display: none;
	position: fixed;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 13px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 3px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.dropdown-right-click {
	display: block;
	position: static;
	margin-bottom: 5px;
	font-size: 1em;
}

/* Anderson Martins*/
.title-black { color: #000000; }
.breadcrumbs__btn{ position: relative;	top: -5px; }
.ng-scope > .thumbnail { border: none; }
.item-icon { font-size: 40px; }